body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u703 {
  position:absolute;
  left:461px;
  top:140px;
  width:145px;
  height:86px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:174px;
}
#u705 {
  position:absolute;
  left:217px;
  top:381px;
  width:174px;
  height:174px;
}
#u706 {
  position:absolute;
  left:2px;
  top:79px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:78px;
}
#u707 {
  position:absolute;
  left:239px;
  top:629px;
  width:625px;
  height:78px;
}
#u708 {
  position:absolute;
  left:2px;
  top:31px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u709 {
  position:absolute;
  left:419px;
  top:441px;
  width:435px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:2px;
}
#u711 {
  position:absolute;
  left:229px;
  top:589px;
  width:625px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:243px;
  top:1455px;
}
#u713_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u713_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u714 {
  position:absolute;
  left:6px;
  top:8px;
  width:17px;
  height:17px;
  color:#2DA9FA;
}
#u714_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u714.mouseOver {
  opacity:0.8;
}
#u715 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u716 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u716_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u716.mouseOver {
  opacity:0.8;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u713_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u718 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u718_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u718.mouseOver {
  opacity:0.8;
}
#u719 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u720 {
  position:absolute;
  left:310px;
  top:1458px;
  width:553px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  white-space:nowrap;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u723 {
  position:absolute;
  left:243px;
  top:1515px;
  width:400px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u725 {
  position:absolute;
  left:243px;
  top:1500px;
  width:29px;
  height:16px;
  font-size:20px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u728 {
  position:absolute;
  left:178px;
  top:814px;
  width:728px;
  height:618px;
}
#u729 {
  position:absolute;
  left:2px;
  top:301px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u730 {
  position:absolute;
  left:237px;
  top:1234px;
  width:621px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u730_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u730.mouseOver {
  opacity:0.8;
}
#u730_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u730.mouseDown {
  opacity:1;
}
#u731 {
  position:absolute;
  left:2px;
  top:26px;
  width:617px;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u732 {
  position:absolute;
  left:627px;
  top:1093px;
  width:231px;
  height:97px;
  font-size:14px;
}
#u732_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u732.mouseOver {
  opacity:0.8;
}
#u732_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u732.mouseDown {
  opacity:1;
}
#u733 {
  position:absolute;
  left:2px;
  top:40px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:646px;
  top:1113px;
  width:21px;
  height:42px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u736 {
  position:absolute;
  left:702px;
  top:1118px;
  width:23px;
  height:42px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:758px;
  top:1118px;
  width:21px;
  height:42px;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:811px;
  top:1118px;
  width:21px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
}
#u743 {
  position:absolute;
  left:237px;
  top:841px;
  width:621px;
  height:97px;
}
#u743_img.selected {
}
#u743.selected {
}
#u744 {
  position:absolute;
  left:2px;
  top:40px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u745 {
  position:absolute;
  left:351px;
  top:841px;
  width:508px;
  height:97px;
}
#u745_img.selected {
}
#u745.selected {
}
#u746 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:362px;
  top:845px;
  width:482px;
  height:87px;
}
#u747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u748 {
  position:absolute;
  left:273px;
  top:865px;
  width:49px;
  height:49px;
}
#u748_img.selected {
}
#u748.selected {
}
#u749 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750 {
  position:absolute;
  left:237px;
  top:967px;
  width:622px;
  height:97px;
  overflow:hidden;
}
#u750_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u750_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u752_img.selected {
}
#u752.selected {
}
#u753 {
  position:absolute;
  left:2px;
  top:40px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u754 {
  position:absolute;
  left:114px;
  top:0px;
  width:508px;
  height:97px;
}
#u754_img.selected {
}
#u754.selected {
}
#u755 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  position:absolute;
  left:126px;
  top:5px;
  width:486px;
  height:87px;
}
#u756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u757 {
  position:absolute;
  left:34px;
  top:22px;
  width:53px;
  height:53px;
}
#u757_img.selected {
}
#u757.selected {
}
#u758 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u759 {
  position:absolute;
  left:552px;
  top:22px;
  width:53px;
  height:53px;
}
#u759_img.selected {
}
#u759.selected {
}
#u760 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u750_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u762_img.selected {
}
#u762.selected {
}
#u763 {
  position:absolute;
  left:2px;
  top:40px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u764 {
  position:absolute;
  left:114px;
  top:0px;
  width:508px;
  height:97px;
}
#u764_img.selected {
}
#u764.selected {
}
#u765 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766 {
  position:absolute;
  left:126px;
  top:5px;
  width:486px;
  height:87px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u767 {
  position:absolute;
  left:34px;
  top:22px;
  width:53px;
  height:53px;
}
#u767_img.selected {
}
#u767.selected {
}
#u768 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u769 {
  position:absolute;
  left:552px;
  top:22px;
  width:53px;
  height:53px;
}
#u769_img.selected {
}
#u769.selected {
}
#u770 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:97px;
}
#u772 {
  position:absolute;
  left:237px;
  top:1094px;
  width:386px;
  height:97px;
}
#u772_img.selected {
}
#u772.selected {
}
#u773 {
  position:absolute;
  left:2px;
  top:40px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:97px;
}
#u774 {
  position:absolute;
  left:351px;
  top:1094px;
  width:271px;
  height:97px;
}
#u774_img.selected {
}
#u774.selected {
}
#u775 {
  position:absolute;
  left:2px;
  top:40px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776 {
  position:absolute;
  left:362px;
  top:1098px;
  width:250px;
  height:87px;
}
#u776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u777 {
  position:absolute;
  left:275px;
  top:1117px;
  width:49px;
  height:49px;
}
#u777_img.selected {
}
#u777.selected {
}
#u778 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u779 {
  position:absolute;
  left:709px;
  top:1367px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u779_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u779.mouseOver {
  opacity:0.8;
}
#u779_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u779.mouseDown {
  opacity:1;
}
#u779_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u779.selected {
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u781 {
  position:absolute;
  left:272px;
  top:1367px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u781_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u781.mouseOver {
  opacity:0.8;
}
#u781_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u781.mouseDown {
  opacity:1;
}
#u781_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u781.selected {
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  position:absolute;
  left:0px;
  top:1524px;
  width:1080px;
  height:100px;
}
#u784 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
}
#u786 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
