body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:99px;
  text-align:center;
}
#u703 {
  position:absolute;
  left:405px;
  top:144px;
  width:258px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:99px;
  text-align:center;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u705 {
  position:absolute;
  left:424px;
  top:360px;
  width:220px;
  height:220px;
}
#u706 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:65px;
}
#u707 {
  position:absolute;
  left:280px;
  top:791px;
  width:520px;
  height:65px;
}
#u708 {
  position:absolute;
  left:2px;
  top:24px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u709 {
  position:absolute;
  left:249px;
  top:621px;
  width:582px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  white-space:nowrap;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:2px;
}
#u711 {
  position:absolute;
  left:229px;
  top:754px;
  width:625px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:0px;
  top:1524px;
  width:1080px;
  height:100px;
}
#u714 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
}
#u716 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:101px;
  background:-webkit-linear-gradient(0deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  -webkit-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  font-size:36px;
}
#u717 {
  position:absolute;
  left:228px;
  top:981px;
  width:636px;
  height:101px;
  font-size:36px;
}
#u717_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:101px;
  background:-webkit-linear-gradient(0deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  -webkit-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  font-size:36px;
}
#u717.mouseOver {
  opacity:0.8;
}
#u717_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:101px;
  background:-webkit-linear-gradient(0deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(14, 121, 180, 1) 0%, rgba(14, 121, 180, 1) 0%, rgba(16, 150, 219, 1) 100%, rgba(16, 150, 219, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  -webkit-box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  box-shadow:5px 5px 10px rgba(30, 198, 149, 0.6);
  font-size:36px;
}
#u717.mouseDown {
  opacity:1;
}
#u717_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u717.disabled {
}
#u718 {
  position:absolute;
  left:2px;
  top:30px;
  width:632px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:656px;
  height:121px;
}
#u719 {
  position:absolute;
  left:228px;
  top:1132px;
  width:636px;
  height:101px;
  font-size:36px;
  color:#1E1E1E;
}
#u719_img.mouseOver {
}
#u719.mouseOver {
  opacity:0.8;
}
#u719_img.mouseDown {
}
#u719.mouseDown {
  opacity:1;
}
#u719_img.disabled {
  left:0px;
  top:0px;
  width:636px;
  height:101px;
}
#u719.disabled {
}
#u720 {
  position:absolute;
  left:2px;
  top:30px;
  width:632px;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:235px;
  top:1291px;
}
#u721_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u721_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u722 {
  position:absolute;
  left:6px;
  top:8px;
  width:17px;
  height:17px;
  color:#2DA9FA;
}
#u722_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u722.mouseOver {
  opacity:0.8;
}
#u723 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u724 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u724_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u724.mouseOver {
  opacity:0.8;
}
#u725 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u721_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u726 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u726_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u726.mouseOver {
  opacity:0.8;
}
#u727 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u728 {
  position:absolute;
  left:303px;
  top:1294px;
  width:553px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  white-space:nowrap;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:52px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u731 {
  position:absolute;
  left:243px;
  top:1369px;
  width:291px;
  height:52px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u732 {
  position:absolute;
  left:2px;
  top:14px;
  width:287px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u733 {
  position:absolute;
  left:243px;
  top:1354px;
  width:20px;
  height:18px;
  font-size:20px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
