body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u703 {
  position:absolute;
  left:243px;
  top:1455px;
}
#u703_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u703_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u704 {
  position:absolute;
  left:6px;
  top:8px;
  width:17px;
  height:17px;
  color:#2DA9FA;
}
#u704_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u704.mouseOver {
  opacity:0.8;
}
#u705 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u706 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u706_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 169, 250, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u706.mouseOver {
  opacity:0.8;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u703_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u708 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  height:30px;
  color:#2DA9FA;
}
#u708_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2DA9FA;
}
#u708.mouseOver {
  opacity:0.8;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:310px;
  top:1458px;
  width:553px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  white-space:nowrap;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u713 {
  position:absolute;
  left:243px;
  top:1515px;
  width:400px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u714 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u715 {
  position:absolute;
  left:243px;
  top:1500px;
  width:29px;
  height:16px;
  font-size:20px;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u718 {
  position:absolute;
  left:178px;
  top:814px;
  width:728px;
  height:618px;
}
#u719 {
  position:absolute;
  left:2px;
  top:301px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u720 {
  position:absolute;
  left:237px;
  top:1234px;
  width:621px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u720_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u720.mouseOver {
  opacity:0.8;
}
#u720_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u720.mouseDown {
  opacity:1;
}
#u721 {
  position:absolute;
  left:2px;
  top:26px;
  width:617px;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u722 {
  position:absolute;
  left:627px;
  top:1093px;
  width:231px;
  height:97px;
  font-size:14px;
}
#u722_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u722.mouseOver {
  opacity:0.8;
}
#u722_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:97px;
  background:-webkit-linear-gradient(0deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  background:linear-gradient(90deg, rgba(35, 167, 237, 1) 0%, rgba(35, 167, 237, 1) 0%, rgba(18, 150, 219, 1) 100%, rgba(18, 150, 219, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u722.mouseDown {
  opacity:1;
}
#u723 {
  position:absolute;
  left:2px;
  top:40px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:646px;
  top:1113px;
  width:21px;
  height:42px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:702px;
  top:1118px;
  width:23px;
  height:42px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:758px;
  top:1118px;
  width:21px;
  height:42px;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:811px;
  top:1118px;
  width:21px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:97px;
}
#u733 {
  position:absolute;
  left:237px;
  top:841px;
  width:621px;
  height:97px;
}
#u733_img.selected {
}
#u733.selected {
}
#u734 {
  position:absolute;
  left:2px;
  top:40px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u735 {
  position:absolute;
  left:351px;
  top:841px;
  width:508px;
  height:97px;
}
#u735_img.selected {
}
#u735.selected {
}
#u736 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737 {
  position:absolute;
  left:362px;
  top:845px;
  width:482px;
  height:87px;
}
#u737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u738 {
  position:absolute;
  left:273px;
  top:865px;
  width:49px;
  height:49px;
}
#u738_img.selected {
}
#u738.selected {
}
#u739 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:237px;
  top:967px;
  width:622px;
  height:97px;
  overflow:hidden;
}
#u740_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u740_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u742_img.selected {
}
#u742.selected {
}
#u743 {
  position:absolute;
  left:2px;
  top:40px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u744 {
  position:absolute;
  left:114px;
  top:0px;
  width:508px;
  height:97px;
}
#u744_img.selected {
}
#u744.selected {
}
#u745 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746 {
  position:absolute;
  left:126px;
  top:5px;
  width:486px;
  height:87px;
}
#u746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u747 {
  position:absolute;
  left:34px;
  top:22px;
  width:53px;
  height:53px;
}
#u747_img.selected {
}
#u747.selected {
}
#u748 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u749 {
  position:absolute;
  left:552px;
  top:22px;
  width:53px;
  height:53px;
}
#u749_img.selected {
}
#u749.selected {
}
#u750 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u740_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:97px;
}
#u752_img.selected {
}
#u752.selected {
}
#u753 {
  position:absolute;
  left:2px;
  top:40px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:97px;
}
#u754 {
  position:absolute;
  left:114px;
  top:0px;
  width:508px;
  height:97px;
}
#u754_img.selected {
}
#u754.selected {
}
#u755 {
  position:absolute;
  left:2px;
  top:40px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  position:absolute;
  left:126px;
  top:5px;
  width:486px;
  height:87px;
}
#u756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u757 {
  position:absolute;
  left:34px;
  top:22px;
  width:53px;
  height:53px;
}
#u757_img.selected {
}
#u757.selected {
}
#u758 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u759 {
  position:absolute;
  left:552px;
  top:22px;
  width:53px;
  height:53px;
}
#u759_img.selected {
}
#u759.selected {
}
#u760 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:97px;
}
#u762 {
  position:absolute;
  left:237px;
  top:1094px;
  width:386px;
  height:97px;
}
#u762_img.selected {
}
#u762.selected {
}
#u763 {
  position:absolute;
  left:2px;
  top:40px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:97px;
}
#u764 {
  position:absolute;
  left:351px;
  top:1094px;
  width:271px;
  height:97px;
}
#u764_img.selected {
}
#u764.selected {
}
#u765 {
  position:absolute;
  left:2px;
  top:40px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766 {
  position:absolute;
  left:362px;
  top:1098px;
  width:250px;
  height:87px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u767 {
  position:absolute;
  left:275px;
  top:1117px;
  width:49px;
  height:49px;
}
#u767_img.selected {
}
#u767.selected {
}
#u768 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u769 {
  position:absolute;
  left:709px;
  top:1367px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u769_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u769.mouseOver {
  opacity:0.8;
}
#u769_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u769.mouseDown {
  opacity:1;
}
#u769_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u769.selected {
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u771 {
  position:absolute;
  left:272px;
  top:1367px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u771_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u771.mouseOver {
  opacity:0.8;
}
#u771_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u771.mouseDown {
  opacity:1;
}
#u771_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u771.selected {
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:0px;
  top:1524px;
  width:1080px;
  height:100px;
}
#u774 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:100px;
}
#u776 {
  position:absolute;
  left:2px;
  top:42px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:99px;
  text-align:center;
}
#u777 {
  position:absolute;
  left:415px;
  top:77px;
  width:258px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:99px;
  text-align:center;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u779 {
  position:absolute;
  left:434px;
  top:259px;
  width:220px;
  height:220px;
}
#u780 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:65px;
}
#u781 {
  position:absolute;
  left:290px;
  top:690px;
  width:520px;
  height:65px;
}
#u782 {
  position:absolute;
  left:2px;
  top:24px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u783 {
  position:absolute;
  left:259px;
  top:520px;
  width:582px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:70px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  white-space:nowrap;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:2px;
}
#u785 {
  position:absolute;
  left:239px;
  top:653px;
  width:625px;
  height:1px;
}
#u786 {
  position:absolute;
  left:2px;
  top:-8px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
