
#u4765 {
  position:absolute;
  left:969px;
  top:1296px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:right;
}
#u4766 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1001px;
}
#u4767 {
  position:absolute;
  left:539px;
  top:763px;
  width:5px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4768 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4769 {
  position:absolute;
  left:42px;
  top:1211px;
  width:783px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4770 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u4771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4771 {
  position:absolute;
  left:969px;
  top:1211px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4772 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1001px;
}
#u4773 {
  position:absolute;
  left:539px;
  top:845px;
  width:5px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4774 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4775 {
  position:absolute;
  left:42px;
  top:1129px;
  width:783px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4776 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u4777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4777 {
  position:absolute;
  left:969px;
  top:1129px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4778 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1001px;
}
#u4779 {
  position:absolute;
  left:539px;
  top:929px;
  width:5px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4780 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4781 {
  position:absolute;
  left:42px;
  top:1043px;
  width:783px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u4782 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u4783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4783 {
  position:absolute;
  left:969px;
  top:1043px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:right;
}
#u4784 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1001px;
}
#u4785 {
  position:absolute;
  left:539px;
  top:1011px;
  width:5px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4786 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4787 {
  position:absolute;
  left:42px;
  top:961px;
  width:783px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4788 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u4789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:right;
}
#u4789 {
  position:absolute;
  left:969px;
  top:961px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:right;
}
#u4790 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1001px;
}
#u4791 {
  position:absolute;
  left:539px;
  top:1093px;
  width:5px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4792 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4793 {
  position:absolute;
  left:42px;
  top:879px;
  width:783px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4794 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u4795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:right;
}
#u4795 {
  position:absolute;
  left:969px;
  top:879px;
  width:73px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:right;
}
#u4796 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4798 {
  position:absolute;
  left:249px;
  top:540px;
  width:600px;
  height:247px;
}
#u4799 {
  position:absolute;
  left:2px;
  top:116px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u4800 {
  position:absolute;
  left:249px;
  top:542px;
  width:600px;
  height:1px;
}
#u4801 {
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:67px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u4802 {
  position:absolute;
  left:523px;
  top:708px;
  width:135px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u4802_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:67px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u4802.mouseOver {
  opacity:0.7;
}
#u4803 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u4804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u4804 {
  position:absolute;
  left:680px;
  top:710px;
  width:135px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u4804_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u4804.mouseOver {
  opacity:0.7;
}
#u4805 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u4806 {
  position:absolute;
  left:276px;
  top:605px;
  width:271px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:90px;
  background:inherit;
  background-color:rgba(45, 169, 250, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4808 {
  position:absolute;
  left:249px;
  top:452px;
  width:600px;
  height:90px;
  color:#FFFFFF;
}
#u4809 {
  position:absolute;
  left:2px;
  top:37px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u4810 {
  position:absolute;
  left:276px;
  top:477px;
  width:61px;
  height:39px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u4811 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4812 {
  position:absolute;
  left:784px;
  top:481px;
  width:31px;
  height:31px;
}
#u4812_img.mouseOver {
}
#u4812.mouseOver {
  opacity:0.7;
}
#u4813 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
